div
	#walletbar(style="height:55px")
		.wallet.button-grp.col-sm-2.col-md-1
			button#d3cmenu.btn.btn-link.dropdown-toggle(data-toggle="dropdown")  #{apikey} 
			ul.dropdown-menu.dropdown-menu-right(role="menu")
				li
					div
						.walletmenuspan.changetheme.bstooltip(title='Switch between the light and dark theme' data-toggle="tooltip" data-placement="left" data-container="body"): a: span.glyphicon.glyphicon-adjust
						.walletmenuspan.bstooltip(title='inquisive queue' data-toggle="tooltip" data-placement="bottom" data-container="body"): a.nav-item-inq(href='/#{local.path.wm}#inq')
						.walletmenuspan.bstooltip(title='Logout' data-toggle="tooltip" data-placement="bottom" data-container="body"): a(onclick="location.reload()"): span.glyphicon.glyphicon-log-out
			
		#menubar(style="margin-top:0").col-sm-10.col-md-11
			.view.col-xs-6
				.head: span #{snowtext.d3c.menu.view.name}
				.body.moveup
					a.ledger: span.glyphicon.glyphicon-book(title='#{snowtext.d3c.menu.view.links.ledger.title}' data-toggle="tooltip" data-placement="bottom" data-container="body")
					a.tx: span.glyphicon.glyphicon-credit-card(title='#{snowtext.d3c.menu.view.links.tx.title}' data-toggle="tooltip" data-placement="bottom" data-container="body")
					a.item: span.glyphicon.glyphicon-th-list(title='#{snowtext.d3c.menu.view.links.item.title}' data-toggle="tooltip" data-placement="bottom" data-container="body")
					
			.connect.col-xs-6
				.head: span #{snowtext.d3c.menu.connect.name}
				.body.moveup
					a.client: span.glyphicon.glyphicon-phone(title='#{snowtext.d3c.menu.connect.links.clients.title}' data-toggle="tooltip" data-placement="bottom" data-container="body")
					a.customer: span.glyphicon.glyphicon-user(title='#{snowtext.d3c.menu.connect.links.customers.title}' data-toggle="tooltip" data-placement="bottom" data-container="body")
	#menuspy(style="height:60px")			
	#content		
		#manage.col-xs-12.col-sm-10.col-md-10
			include ../mixins/prettymessages.jade
			include ./chatbox.jade	
			.content
		
		.buffer.col-xs-12.col-sm-2.col-md-2
	#trackers.col-xs-12.col-sm-2.col-md-2
		.content
			.listtracker
