.snow-send.bs-example(id='snow-send')
	.col-xs-12.col-sm-10.col-md-8.col-lg-7
		include mixins/prettymessages.jade
		form#snowsendcoin.snow-block-lg
			.snow-block-heading
			.form-group.input-group
				span.input-group-addon.input-group-sm.coinstamp 
					.dropdown
						a#snowchangefrom.dropdown-toggle(data-toggle="dropdown" data-snowstamp=wally.coinstamp data-snowticker='#{wally.cointicker}') <span id="changestamp">#{wally.coinstamp}</span> <span class="caret"></span>
						ul.dropdown-menu(role="menu" aria-labelledby="dda2")
							li.change-coin-stamp(role="presentation" data-snowstamp='#{wally.coinstamp}' data-snowticker='#{wally.cointicker}'): a #{wally.coinstamp}
							- if (snowmoney['usd'][wally.cointicker] && snowmoney['usd'][wally.cointicker].price) 
								li.change-coin-stamp(role="presentation" data-snowstamp='USD' data-snowticker='usd'): a USD
							- if (snowmoney['eur'][wally.cointicker] && snowmoney['eur'][wally.cointicker].price) 
								li.change-coin-stamp(role="presentation" data-snowstamp='EUR' data-snowticker='eur'): a EUR			
							- if (snowmoney['btc'][wally.cointicker] && snowmoney['btc'][wally.cointicker].price) 
								li.change-coin-stamp(role="presentation" data-snowstamp='BTC' data-snowticker='btc'): a BTC
							- if (snowmoney['ltc'][wally.cointicker] && snowmoney['ltc'][wally.cointicker].price) 
								li.change-coin-stamp(role="presentation" data-snowstamp='LTC' data-snowticker='ltc'): a LTC
							- if (wally.cointicker!='doge' && snowmoney['doge'][wally.cointicker] && snowmoney['doge'][wally.cointicker].price) 
								li.change-coin-stamp(role="presentation" data-snowstamp='Ð' data-snowticker='doge'): a Ð
				input.form-control.coinstamp.bstooltip(style='background-color:#D4E8FF;' required type="text" pattern="[-+]?[0-9]*[.,]?[0-9]+" id="sendcoinamount" name="sendcoinamount" placeholder="Amount" data-toggle="tooltip"    data-placement="top" title="We will send this amount"   data-container="#snow-send" )
				input(id="sendcointrueamount" type="hidden") 
				span#changeamountspan.input-group-addon.input-group-sm.coinstamp(data-toggle="tooltip" data-placement="top"  data-container="#snow-send" ) 
					span#changeamountbefore 
					span#changeamount
					span#changeamountafter
			div(style='text-align:right;margin-top:-5px;')
				a.helppopover(rel='popover'  data-container="body" data-toggle="popover" data-placement="left" data-html="true" data-content="The left bookend selects the currency you want to enter. The right bookend will show you a converted amount.   <br /><br /> Select #{wally.coinstamp} to see a conversion to #{wally.currency.toUpperCase()}. You will send the amount entered in the blue box<br /><br /> Select another currency to convert your entered Amount to #{wally.coinstamp}. The right bookend will be blue and the amount you send. ") help
			.snow-send-body(style='text-align:left;')
				- var bal = numeral(balance).format('0,0.00000000').replace(/\.?0+$/, "")
				.snow-balance-body 
					span #{bal}
					input(id="snow-balance-input" type="hidden" value="#{balance}")
					span.coinstamp(style="color:#ccc;") #{wally.coinstamp} after sending
			
			.form-group.input-group
					span.input-group-addon.input-group-sm.coinstamp From 	
					select.form-control.coinstamp(id="sendcoinfromaccount" name="sendcoinfromaccount")
						option(value='_default') default account
						each acc,index in accounts
							- var isselected = fromaccount==acc.name ? 'selected':''
							| <option value="#{acc.name}" #{isselected}> #{acc.name} - #{acc.balance} #{wally.coinstamp} </option>
			.form-group.input-group
					span.input-group-addon.input-group-sm.coinstamp To
					input.form-control.coinstamp(required id="sendcointoaddress" name="sendcointoaddress" placeholder="Coin Address" value="#{toaddress}")
					span#snowsendaddressbook.input-group-addon.input-group-sm.glyphicon.glyphicon-user
			.form-group.input-group
					span.input-group-addon.input-group-sm.coinstamp: input(type="checkbox" id="sendcoinsaveaddr" value="save")
					label.form-control.coinstamp(for="sendcoinsaveaddr" style="text-align:left") Save this address to my contacts
			#sendcoinshowname.form-group.input-group.bg-info(style='display:none')
					span.input-group-addon.input-group-sm.coinstamp Name
					input.form-control.coinstamp( id="sendcoinaddressname" name="sendcoinaddressname" placeholder="name for address" value="")
					
			.form-group.input-group
					span.input-group-addon.input-group-sm.coinstamp Message 
					input.form-control.coinstamp( id="sendcointomessage" name="sendcointomessage" placeholder="message" value="")
					
			.form-group.input-group
					span.input-group-addon.input-group-sm.coinstamp Memo
					input.form-control.coinstamp( id="sendcoinmemo" name="sendcoinmemo" placeholder="memo" value="")
			.form-group
				button.btn.btn-primary.btn-sm.snowsendcoin(type='submit' id='buttonsend') Send Coin
			.clearfix
	#confirmbuttons(style="display:none")
		button#confirmsendcoinsubmit.btn.btn-warning(data-loading-text='Be Patient, some APIs are slow' type="button" rel="confirmsendcoinsubmit") Send My Coin
		button.btn.btn-info(onclick="$('#3456756').toggle();"  style="float:right;") View Command
		button.btn.btn-default.pull-right(data-dismiss="modal" style="float:right;") Cancel
	.clearfix
